<h1>Edit sight type</h1>

<% if (defined? @error_message != nil) %>
<p class="error"><%=@error_message %></p>
<% end %>

<form action="/sight-types/<%=@sight_type.id %>" method="POST">
  <fieldset>
    <label for="name">Name</label>
    <input type="text" name="name" value="<%=@sight_type.name %>">
  </fieldset>
  <input type="submit" value="UPDATE">
</form>
