<h1>Sight types</h1>

<ul class="results">
  <% for sight_type in @sight_types %>
    <li>
      <%= sight_type.name %>
      <div class="buttons">
        <form class="button_only" action="/sight-types/<%= sight_type.id %>/delete" method="post">
          <fieldset>
            <input type="submit" name="delete" value="Delete">
          </fieldset>
        </form>
        <form class="button_only" action="/sight-types/<%= sight_type.id %>/edit" method="get">
          <fieldset>
            <input type="submit" name="update" value="Update">
          </fieldset>
        </form>
      </div>
    </li>
  <% end %>
</ul>

<p><a href="/sight-types/new">Add a sight type</a></p>
