body {
	background-color: white;
  margin: 0;
	padding: 0;
	font: 67.5% Verdana, Arial, serif;
	color: indigo;
  text-align: center;
}

#home {
	background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}

#home h1{
	color: white;
}

h1 {
	font-size: 1.4rem;
}

h2 {
	font-size: 1.3rem;
}

h3 {
	font-size: 1.2rem;
}

h4 {
	font-size: 1.1rem;
}

p, li, label, input, td, th, dl, dd, dt, option {
	font-size: 1rem;
	line-height: 1;
}

th, td {
  padding: 10px;
  text-align: left;
}

a, th {
  color: purple;
}

img {
	border-style: none;
}

hr {
 border-color: thistle;
}

ul {
 margin: 0;
 padding: 0;
}

li {
  list-style: none;
	margin-bottom: 1rem;
}

table {
  margin: auto;
  border-collapse: collapse;
}

/* NAVIGATION */
nav {
  border-bottom: 1px purple solid;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
	background: white;
}

nav ul {
  display: flex;
  flex-direction: row;
  padding: 0;
}

nav li {
  list-style: none;
  margin: 0 1rem 0 0;
  padding: 1.5rem 0;
}

nav li:before {
  content: "\2605";
	color: purple;
}

/* FORMS */

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
}

.buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.button_only {
	margin: 0.5rem;
}

fieldset {
  border: none;
  margin: auto;
  padding: 1rem 0;
}

input, select {
  border: 1px purple solid;
	background-color: white;
  color: purple;
	width: 200px;
}

input[Type="submit"] {
	color: white;
  background-color: purple;
	width: 150px;
}

input[Type="radio"] {
	width: auto;
}

label {
  color: purple;
}

/* Definition Lists */

dl {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

dt {
	text-align: left;
	font-weight: bold;
}

.error {
	font-weight: bold;
	border: 1px solid red;
	color: red;
	margin: auto;
	padding: 1rem;
}
