<h1><%= @country.name %></h1>

<ul>
    <li>
      <ul>
        <% for location in @country.locations() %>
          <li>
            <h2><%= location.name %></h2>
            <ul>
              <% for sight in location.sights() %>
                <li><a href="/sights/<%= sight.id %>"><%= sight.name %></a></li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </li>
</ul>
