<h1>Search</h1>

<form action="/search-results" method="post">
  <h2>Search by</h2>
  <fieldset>
    <label for="name">Name</label>
    <input type="text" name="name">
  </fieldset>
  <fieldset>
    <label for="type_id">Type</label>
    <select name="type_id">
    <option value="">Please choose</option>
      <% for type in @sight_types %>
      <option value="<%=type.id %>"><%=type.name %></option>
      <% end %>
    </select>
  </fieldset>
  <fieldset>
    <label for="location_id">Location</label>
    <select name="location_id">
    <option value="">Please choose</option>
      <% for location in @locations %>
      <option value="<%=location.id %>"><%=location.name %></option>
      <% end %>
    </select>
  </fieldset>
  <fieldset>
    <label for="priority">priority</label>
    <select name="priority">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </fieldset>
  <fieldset>
    <label for="visited">Visited</label>
    <input type="checkbox" name="visited" value="visited">
  </fieldset>
  <input type="submit" value="Search">
</form>
